@mixin dflex {
  display: flex;
}

.bag {
  grid-area: bag;
  .bagHeader {
    @include dflex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    .weightInfo {
      position: relative;
      display: flex;
      flex-direction: column;
      .errorText {
        position: absolute;
        font-size: 10px;
        color: salmon;
        bottom: -10px;
        left: 0;
      }
    }
  }
  .bagSlots {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-auto-rows: 80px;
  }
}
