@mixin exitStyle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  line-height: 17.58px;
  text-align: left;
}

.inventoryclose {
  position: relative;
  background-color: transparent;
  border: none;
  color: rgba(188, 188, 188, 1);
  display: flex;
  align-items: center;
  padding: 0;
  .closeBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.375rem;
    height: 1.25rem;
    gap: 4px;
    border-radius: 3px;
    opacity: 0px;
    background: rgba(201, 157, 62, 0.16);
    margin-right: 4px;
    color: rgba(201, 157, 62, 1);
    @include exitStyle;
  }
  .errorText {
    position: absolute;
    font-size: 10px;
    color: salmon;
    bottom: -20px;
    left: 0;
  }
}
