@mixin dflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventoryWrapper {
  @include dflex;
  height: 100%;
  .inventoryGridWrapper {
    display: grid;
    grid-template-columns: 400px 480px;
    grid-template-areas:
      "pocket trunk"
      "bag trunk";
    column-gap: 120px;
    row-gap: 30px;
  }
}
